/* ================= LAYOUT ================= */
.top-bar {
    -fx-background-color: white;
    -fx-border-color: #e5e7eb;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 15 20 15 20;
}

.stack-center {
    -fx-padding: 40;
}

.card-wrapper {
    -fx-max-width: 400px;
    -fx-alignment: center;
}
